-var titulo = "Titulo Principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "David"
mixin caja(imagen, titulo, contenido)
	.caja
		.caja_imagen: img(src="images/"+imagen)
		.caja_contenido
			h3=titulo
			p=contenido
			a.boton Leer Mas
doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/ejercicio-pug.css")
	body 
		header
			h1 PlatziGames
			if usuario
				a Hola #{usuario}
			else
				a.boton Registro
		section.intro
			.intro_imagen: img(src="images/imagen.png")
			.intro_contenido
				h2 #{titulos[0]}
				p
					|Lorem ipsum dolor sit amet 
					|consectetur adipisicing elit. 
					|Fuga minus repudiandae quae optio voluptatibus! 
					|Suscipit qui modi labore magni. 
					|Qui nulla sunt perferendis dicta dolorem nihil, 
					|ducimus exercitationem natus eius.
					span Proin nulla sunt perferendis dicta dolorem nihil, ducimus exercitationem natus eius.
				a.boton Leer Mas
		main.contenido
			+caja("imagen.png", titulos[1], "Lorem ipsum dolor sit amet")
			+caja("imagen.png", titulos[2], "Lorem ipsum dolor sit amet")
			+caja("imagen.png", titulos[3], "Lorem ipsum dolor sit amet")
			
			
